# Tạo .gitignore cho Visual Studio
curl -o .gitignore https://raw.githubusercontent.com/github/gitignore/main/VisualStudio.gitignore
bin/
.vs/
obj/
.idea
*csproj.user
*sln.DotSettings.user


